.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border-radius: 10px;
    width: 8vw;
    height: 5vh;
    background: radial-gradient(circle, #000000, #333333);
    cursor: pointer;
}

.button:hover{
    background: #413F42;
}
